In [1]:
#import library yang di butuhkan
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC

In [2]:
#create classfier
lr = LogisticRegression(solver='lbfgs')
svc = LinearSVC(C = 1.0)
rfc = RandomForestClassifier(n_estimators = 100)

In [3]:
hotel = pd.read_csv('hotel_bookings.csv')
hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2015-04-22
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2015-06-23
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,2015-07-05
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out,2015-07-05
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,8.0,NaN,0,Contract,97.50,0,0,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,No Deposit,240.0,NaN,0,Transient,88.20,0,0,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out,2015-07-02
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,No Deposit,250.0,NaN,0,Transient,153.00,0,1,Check-Out,2015-07-05
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,...,No Deposit,241.0,NaN,0,Transient,97.29,0,1,Check-Out,2015-07-06
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,99.67,0,1,Check-Out,2015-07-07
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,No Deposit,115.0,NaN,0,Contract,94.95,0,1,Check-Out,2015-07-01
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,No Deposit,5.0,NaN,0,Transient,63.60,1,0,Check-Out,2015-07-08
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,2015-07-08
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,2015-05-11
28,Resort Hotel,0,77,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,94.00,0,0,Check-Out,2015-07-08
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,87.30,1,1,Check-Out,2015-07-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119360,City Hotel,0,195,2017,August,35,29,1,5,2,...,No Deposit,9.0,NaN,0,Transient,117.00,0,1,Check-Out,2017-09-04
119361,City Hotel,0,100,2017,August,35,31,1,3,2,...,No Deposit,16.0,NaN,0,Transient,95.85,0,0,Check-Out,2017-09-04
119362,City Hotel,0,198,2017,August,35,29,1,5,2,...,No Deposit,9.0,NaN,0,Transient,119.17,0,2,Check-Out,2017-09-04
119363,City Hotel,0,212,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,92.17,0,1,Check-Out,2017-09-04
119364,City Hotel,0,212,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,92.17,0,2,Check-Out,2017-09-04
119365,City Hotel,0,54,2017,August,35,27,3,5,1,...,No Deposit,14.0,NaN,0,Transient,266.75,0,1,Check-Out,2017-09-04
119366,City Hotel,0,210,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,85.59,0,1,Check-Out,2017-09-04
119367,City Hotel,0,212,2017,August,35,28,2,5,2,...,No Deposit,7.0,NaN,0,Transient,85.59,0,0,Check-Out,2017-09-04
119368,City Hotel,0,261,2017,August,35,30,1,4,2,...,No Deposit,14.0,NaN,0,Transient,99.00,0,0,Check-Out,2017-09-04
119369,City Hotel,0,207,2017,August,34,25,3,7,2,...,No Deposit,14.0,NaN,0,Transient,96.25,0,2,Check-Out,2017-09-04
119370,City Hotel,0,201,2017,August,35,30,1,4,1,...,No Deposit,9.0,NaN,0,Transient,108.00,0,2,Check-Out,2017-09-04
119371,City Hotel,0,175,2017,August,35,31,1,3,2,...,No Deposit,42.0,NaN,0,Transient,86.85,0,2,Check-Out,2017-09-04
119372,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,2017-09-04
119373,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,2017-09-04
119374,City Hotel,0,201,2017,August,35,29,1,5,2,...,No Deposit,9.0,NaN,0,Transient,117.00,0,2,Check-Out,2017-09-04
119375,City Hotel,0,200,2017,August,35,30,1,4,2,...,No Deposit,16.0,NaN,0,Transient,85.50,0,1,Check-Out,2017-09-04
119376,City Hotel,0,165,2017,August,35,29,1,5,3,...,No Deposit,9.0,NaN,0,Transient,209.25,0,3,Check-Out,2017-09-04
119377,City Hotel,0,185,2017,August,35,30,1,4,2,...,No Deposit,9.0,NaN,0,Transient,99.00,0,1,Check-Out,2017-09-04
119378,City Hotel,0,247,2017,August,35,31,1,3,2,...,No Deposit,42.0,NaN,0,Transient,86.85,0,0,Check-Out,2017-09-04
119379,City Hotel,0,109,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,155.00,0,1,Check-Out,2017-09-04
119380,City Hotel,0,44,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,140.75,0,1,Check-Out,2017-09-04
119381,City Hotel,0,188,2017,August,35,31,2,3,2,...,No Deposit,14.0,NaN,0,Transient,99.00,0,0,Check-Out,2017-09-05
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,No Deposit,7.0,NaN,0,Transient,209.00,0,0,Check-Out,2017-09-05
119383,City Hotel,0,164,2017,August,35,31,2,4,2,...,No Deposit,42.0,NaN,0,Transient,87.60,0,0,Check-Out,2017-09-06
119384,City Hotel,0,21,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,2,Check-Out,2017-09-06
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [4]:
hotel['hotel'].value_counts().head(5)

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

In [5]:
hotel['deposit_type'].value_counts()

No Deposit    104641
Non Refund     14587
Refundable       162
Name: deposit_type, dtype: int64

In [6]:
hotel['arrival_date_month'].value_counts()

August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
Name: arrival_date_month, dtype: int64

In [7]:
hotel['company'].value_counts().head(5)

40.0     927
223.0    784
67.0     267
45.0     250
153.0    215
Name: company, dtype: int64

In [8]:
hotel['reservation_status'].value_counts().head(5)

Check-Out    75166
Canceled     43017
No-Show       1207
Name: reservation_status, dtype: int64

In [9]:
hotel['customer_type'].value_counts().head(5)

Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: customer_type, dtype: int64

In [10]:
hotel.loc[hotel['hotel'] == 'Resort Hotel','hotel']= 1
hotel.loc[hotel['hotel'] == 'City Hotel' ,'hotel']= 2

In [11]:
hotel.loc[hotel['deposit_type'] == 'No Deposit','deposit_type']= 1
hotel.loc[hotel['deposit_type'] == 'Non Refund' ,'deposit_type']= 2
hotel.loc[hotel['deposit_type'] == 'Refundable' ,'deposit_type']= 3

In [12]:
hotel.loc[hotel['arrival_date_month'] == 'January','arrival_date_month']= 1
hotel.loc[hotel['arrival_date_month'] == 'February','arrival_date_month']= 2
hotel.loc[hotel['arrival_date_month'] == 'March','arrival_date_month']= 3
hotel.loc[hotel['arrival_date_month'] == 'April','arrival_date_month']= 4
hotel.loc[hotel['arrival_date_month'] == 'May','arrival_date_month']= 5
hotel.loc[hotel['arrival_date_month'] == 'June','arrival_date_month']= 6
hotel.loc[hotel['arrival_date_month'] == 'July','arrival_date_month']= 7
hotel.loc[hotel['arrival_date_month'] == 'August','arrival_date_month']= 8
hotel.loc[hotel['arrival_date_month'] == 'September','arrival_date_month']= 9
hotel.loc[hotel['arrival_date_month'] == 'October','arrival_date_month']= 10
hotel.loc[hotel['arrival_date_month'] == 'November','arrival_date_month']= 11
hotel.loc[hotel['arrival_date_month'] == 'December','arrival_date_month']= 12

In [13]:
hotel.loc[hotel['customer_type'] == 'Transient','customer_type']= 1
hotel.loc[hotel['customer_type'] == 'Transient-Party' ,'customer_type']= 2
hotel.loc[hotel['customer_type'] == 'Contract' ,'customer_type']= 3
hotel.loc[hotel['customer_type'] == 'Group' ,'customer_type']= 4

In [14]:
hotel.loc[hotel['reservation_status'] == 'Check-Out','reservation_status']= 1
hotel.loc[hotel['reservation_status'] == 'Canceled' ,'reservation_status']= 2
hotel.loc[hotel['reservation_status'] == 'No-Show' ,'reservation_status']= 3

In [15]:
hotel['meal'].value_counts()

BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: meal, dtype: int64

In [16]:
hotel.loc[hotel['meal'] == 'BB','meal']= 1
hotel.loc[hotel['meal'] == 'HB','meal']= 2
hotel.loc[hotel['meal'] == 'SC','meal']= 3
hotel.loc[hotel['meal'] == 'Undefined','meal']= 4
hotel.loc[hotel['meal'] == 'FB','meal']= 5

In [17]:
hotel['market_segment'].value_counts()

Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: market_segment, dtype: int64

In [18]:
hotel.loc[hotel['market_segment'] == 'Online TA','market_segment']= 1
hotel.loc[hotel['market_segment'] == 'Offline TA/TO','market_segment']= 2
hotel.loc[hotel['market_segment'] == 'Groups','market_segment']= 3
hotel.loc[hotel['market_segment'] == 'Direct','market_segment']= 4
hotel.loc[hotel['market_segment'] == 'Corporate','market_segment']= 5
hotel.loc[hotel['market_segment'] == 'Complementary','market_segment']= 6
hotel.loc[hotel['market_segment'] == 'Aviation','market_segment']= 7
hotel.loc[hotel['market_segment'] == 'Undefined','market_segment']= 8

In [19]:
hotel['assigned_room_type'].value_counts()

A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: assigned_room_type, dtype: int64

In [20]:
hotel.loc[hotel['reserved_room_type'] == 'A','reserved_room_type']= 1
hotel.loc[hotel['reserved_room_type'] == 'B','reserved_room_type']= 2
hotel.loc[hotel['reserved_room_type'] == 'C','reserved_room_type']= 3
hotel.loc[hotel['reserved_room_type'] == 'D','reserved_room_type']= 4
hotel.loc[hotel['reserved_room_type'] == 'E','reserved_room_type']= 5
hotel.loc[hotel['reserved_room_type'] == 'F','reserved_room_type']= 6
hotel.loc[hotel['reserved_room_type'] == 'G','reserved_room_type']= 7
hotel.loc[hotel['reserved_room_type'] == 'H','reserved_room_type']= 8
hotel.loc[hotel['reserved_room_type'] == 'P','reserved_room_type']= 9
hotel.loc[hotel['reserved_room_type'] == 'L','reserved_room_type']= 10

In [21]:
hotel['assigned_room_type'].value_counts()

A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: assigned_room_type, dtype: int64

In [22]:
hotel.loc[hotel['assigned_room_type'] == 'A','assigned_room_type']= 1
hotel.loc[hotel['assigned_room_type'] == 'B','assigned_room_type']= 2
hotel.loc[hotel['assigned_room_type'] == 'C','assigned_room_type']= 3
hotel.loc[hotel['assigned_room_type'] == 'D','assigned_room_type']= 4
hotel.loc[hotel['assigned_room_type'] == 'E','assigned_room_type']= 5
hotel.loc[hotel['assigned_room_type'] == 'F','assigned_room_type']= 6
hotel.loc[hotel['assigned_room_type'] == 'G','assigned_room_type']= 7
hotel.loc[hotel['assigned_room_type'] == 'H','assigned_room_type']= 8
hotel.loc[hotel['assigned_room_type'] == 'I','assigned_room_type']= 9
hotel.loc[hotel['assigned_room_type'] == 'K','assigned_room_type']= 10
hotel.loc[hotel['assigned_room_type'] == 'P','assigned_room_type']= 11
hotel.loc[hotel['assigned_room_type'] == 'L','assigned_room_type']= 12

In [23]:
hotel['distribution_channel'].value_counts()

TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: distribution_channel, dtype: int64

In [24]:
hotel.loc[hotel['distribution_channel'] == 'TA/TO','distribution_channel'] = 1
hotel.loc[hotel['distribution_channel'] == 'Direct','distribution_channel'] = 2
hotel.loc[hotel['distribution_channel'] == 'Corporate','distribution_channel'] = 3
hotel.loc[hotel['distribution_channel'] == 'GDS','distribution_channel'] = 4
hotel.loc[hotel['distribution_channel'] == 'Undefined','distribution_channel'] = 5

In [25]:
hotel = hotel.drop(['country'], axis = 1)

In [26]:
hotel = hotel.drop(['reservation_status_date'], axis = 1)

In [27]:
hotel = hotel.drop(['reservation_status'], axis = 1)

In [28]:
hotel['agent'] = hotel['agent'].replace(np.nan, 0)
hotel['company'] = hotel['company'].replace(np.nan, 0)

In [29]:
hotel.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,1,0,342,2015,7,27,1,0,0,2,...,3,3,1,0.0,0.0,0,1,0.0,0,0
1,1,0,737,2015,7,27,1,0,0,2,...,3,4,1,0.0,0.0,0,1,0.0,0,0
2,1,0,7,2015,7,27,1,0,1,1,...,3,0,1,0.0,0.0,0,1,75.0,0,0
3,1,0,13,2015,7,27,1,0,1,1,...,1,0,1,304.0,0.0,0,1,75.0,0,0
4,1,0,14,2015,7,27,1,0,2,2,...,1,0,1,240.0,0.0,0,1,98.0,0,1

In [30]:
hotel.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'market_segment', 'distribution_channel', 'is_repeated_guest',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'reserved_room_type', 'assigned_room_type', 'booking_changes',
       'deposit_type', 'agent', 'company', 'days_in_waiting_list',
       'customer_type', 'adr', 'required_car_parking_spaces',
       'total_of_special_requests'],
      dtype='object')

In [31]:
hotel.shape

(119390, 29)

In [32]:
new_order = ['hotel', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal', 
        'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests', 'is_canceled']
hotel = hotel[new_order]

In [33]:
hotel = hotel.sample(n=300)
hotel

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,is_canceled
63837,2,594,2017,2,8,23,0,1,1,0.0,...,0,2,1.0,0.0,0,1,59.00,0,0,1
47212,2,18,2016,2,7,12,1,2,2,0.0,...,0,1,9.0,0.0,0,1,79.00,0,0,1
45904,2,84,2015,11,48,27,1,2,1,0.0,...,1,1,1.0,0.0,0,2,56.00,0,0,0
7773,1,27,2016,8,35,26,0,2,3,0.0,...,0,1,339.0,0.0,0,1,179.20,0,0,1
7990,1,211,2016,9,37,7,0,3,1,0.0,...,0,2,1.0,0.0,0,1,89.00,0,0,1
4502,1,20,2016,3,13,21,1,3,2,0.0,...,0,1,0.0,0.0,0,1,0.00,0,1,1
117765,2,6,2017,8,32,7,1,1,3,0.0,...,0,1,7.0,0.0,0,1,183.99,0,1,0
22830,1,88,2016,4,15,3,2,3,2,0.0,...,0,1,240.0,0.0,0,1,52.50,0,1,0
21325,1,0,2016,2,9,25,0,1,1,0.0,...,0,1,0.0,0.0,0,1,55.00,0,0,0
35974,1,261,2017,4,18,30,2,5,2,0.0,...,0,1,40.0,0.0,0,3,42.95,0,1,0
94276,2,10,2016,9,39,19,1,1,1,0.0,...,0,1,0.0,221.0,0,1,104.00,0,0,0
52479,2,213,2016,6,24,7,0,3,2,0.0,...,0,2,19.0,0.0,62,1,130.00,0,0,1
98042,2,44,2016,9,39,20,0,4,2,0.0,...,2,1,157.0,0.0,0,1,101.52,0,0,0
25750,1,164,2016,6,27,30,2,8,2,0.0,...,0,1,243.0,0.0,0,3,62.20,1,1,0
57489,2,418,2016,9,40,26,1,2,2,0.0,...,0,1,132.0,0.0,223,2,107.00,0,0,0
114589,2,101,2017,6,25,19,1,5,2,0.0,...,0,1,7.0,0.0,0,1,93.48,0,0,0
30644,1,0,2016,11,49,28,1,1,2,0.0,...,0,1,241.0,0.0,0,1,36.96,0,1,0
15380,1,151,2015,7,28,7,0,4,2,2.0,...,0,1,0.0,0.0,0,1,157.25,0,3,0
108191,2,46,2017,3,12,19,2,3,2,0.0,...,0,1,9.0,0.0,0,1,74.80,0,1,0
68166,2,68,2017,5,20,14,2,1,1,0.0,...,1,1,0.0,169.0,0,2,110.00,0,0,1
118368,2,2,2017,8,33,17,0,2,2,0.0,...,0,1,9.0,0.0,0,1,169.00,0,1,0
113987,2,7,2017,6,24,14,0,1,2,1.0,...,1,1,0.0,45.0,0,1,0.00,0,2,0
36409,1,221,2017,5,19,13,2,5,2,0.0,...,0,1,6.0,0.0,0,1,79.20,0,0,0
21933,1,3,2016,3,11,12,0,1,3,0.0,...,0,1,177.0,0.0,0,1,45.90,0,0,0
3973,1,64,2016,2,7,11,1,3,2,0.0,...,0,2,15.0,0.0,0,1,29.00,0,0,1
65054,2,55,2017,3,12,23,0,3,3,0.0,...,0,1,9.0,0.0,0,1,169.20,0,3,1
76246,2,200,2015,9,37,12,2,1,2,0.0,...,0,2,1.0,0.0,0,2,86.00,0,0,1
56028,2,226,2016,8,35,27,1,1,2,0.0,...,0,2,1.0,0.0,0,1,96.00,0,0,1
94676,2,151,2016,8,32,5,1,2,2,0.0,...,0,1,9.0,0.0,0,1,100.50,0,1,0
32483,1,48,2017,1,4,26,0,3,3,0.0,...,0,1,241.0,0.0,0,1,49.90,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20340,1,26,2016,1,4,21,1,3,2,0.0,...,0,1,240.0,0.0,0,1,48.00,0,0,0
114794,2,396,2017,6,26,25,2,0,2,0.0,...,0,1,6.0,0.0,0,2,122.40,0,1,0
40647,2,1,2015,8,32,4,1,5,2,0.0,...,0,1,9.0,0.0,0,1,80.00,0,2,0
66950,2,110,2017,4,17,26,1,4,2,0.0,...,0,1,9.0,0.0,0,1,100.80,0,0,1
16019,1,0,2015,8,33,10,1,0,2,0.0,...,0,1,240.0,0.0,0,1,154.80,0,2,0
96735,2,91,2016,9,36,3,2,2,2,0.0,...,0,1,9.0,0.0,0,1,135.90,0,1,0
58720,2,163,2016,10,42,15,0,1,1,0.0,...,0,2,34.0,0.0,0,1,115.00,0,0,1
70287,2,164,2017,6,24,14,0,3,2,0.0,...,0,1,14.0,0.0,0,1,117.00,0,0,1
111885,2,18,2017,5,19,13,2,2,2,0.0,...,0,1,7.0,0.0,0,1,133.00,0,0,0
625,1,55,2015,7,30,23,0,3,2,0.0,...,0,1,240.0,0.0,0,1,135.00,0,0,1
23964,1,100,2016,4,18,28,3,8,2,0.0,...,6,1,95.0,0.0,0,2,47.00,0,0,0
84717,2,21,2016,3,10,1,0,2,3,0.0,...,0,1,9.0,0.0,0,2,142.00,0,2,0
110563,2,70,2017,4,17,25,0,4,2,0.0,...,0,1,9.0,0.0,0,1,162.00,0,3,0
47697,2,116,2016,2,10,28,2,2,1,0.0,...,1,1,134.0,0.0,0,2,61.00,0,0,1
84443,2,1,2016,2,9,25,0,1,2,0.0,...,0,1,9.0,0.0,0,1,88.00,1,1,0
34203,1,115,2017,3,11,13,1,2,2,0.0,...,0,1,240.0,0.0,0,1,97.33,0,1,0
88131,2,59,2016,4,18,24,2,5,2,0.0,...,0,1,9.0,0.0,0,1,118.27,0,1,0
117563,2,10,2017,8,31,5,0,1,2,0.0,...,0,1,85.0,0.0,0,1,79.00,0,0,0
36712,1,203,2017,5,21,25,0,3,2,0.0,...,4,1,0.0,223.0,0,2,49.00,1,0,0
89631,2,5,2017,7,28,11,0,1,1,0.0,...,0,1,0.0,40.0,0,1,65.00,0,1,1
112292,2,7,2017,5,20,20,1,1,2,0.0,...,0,1,9.0,0.0,0,1,160.00,0,2,0
50224,2,0,2016,4,18,27,0,0,1,0.0,...,0,1,0.0,45.0,0,1,0.00,0,2,1
4292,1,118,2016,3,10,2,2,5,2,0.0,...,0,1,241.0,0.0,0,1,33.26,0,0,1
111865,2,13,2017,5,20,15,1,1,1,0.0,...,0,1,0.0,357.0,0,1,130.00,0,0,0
14274,1,230,2016,8,34,16,4,10,2,1.0,...,2,1,240.0,0.0,0,1,169.93,0,1,0
51729,2,158,2016,5,22,24,0,2,1,0.0,...,0,2,37.0,0.0,31,1,130.00,0,0,1
80630,2,54,2015,12,53,28,1,3,2,0.0,...,0,1,9.0,0.0,0,3,158.95,0,1,1
118528,2,154,2017,8,33,17,1,3,2,0.0,...,0,1,52.0,0.0,0,1,80.10,0,1,0
58392,2,279,2016,10,42,12,0,3,2,0.0,...,0,2,98.0,0.0,0,1,110.00,0,0,1
101754,2,5,2016,11,47,13,2,3,1,0.0,...,0,1,0.0,73.0,0,2,84.00,0,0,0

In [34]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(hotel,test_size = 0.2)

In [35]:
#memisahkan dataset menjadi features dan target
train_feat = train.iloc[:,:30]
train_targ = train["is_canceled"]

In [36]:
test_feat = test.iloc[:,:30]
test_targ = test["is_canceled"]

linear

In [37]:
lr.fit(train_feat, train_targ)

D:\Users\Irvin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [38]:
lr.score(train_feat,train_targ)

0.8708333333333333

In [39]:
lr.score(test_feat,test_targ)

0.8166666666666667

In [40]:
lr.coef_

array([[ 9.41901545e-03,  3.19106083e-03,  2.09598334e-03,
        -1.10315840e-02, -1.42723614e-02, -7.18813662e-02,
        -9.20651595e-02, -6.30160387e-01, -1.86053484e-01,
        -1.05524699e-01,  1.92321186e-02, -9.38582207e-02,
        -4.63988355e-01, -1.70257973e-01, -4.35324951e-02,
         3.59259919e-01, -3.11596226e-01,  1.27139589e-01,
        -5.98053327e-01, -3.31468611e-01,  5.06280107e-01,
        -5.89842952e-03, -5.70526146e-03,  4.70567072e-02,
        -4.45615247e-01,  2.76542611e-03, -1.74512240e-01,
        -5.93608694e-01,  2.16928569e+00]])

In [41]:
lr.predict(train_feat)

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
      dtype=int64)

random

In [42]:
rfc.fit(train_feat,train_targ)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [43]:
rfc.score(train_feat,train_targ)

1.0

In [44]:
rfc.score(test_feat,test_targ)

1.0

In [45]:
rfc.predict(train_feat)

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0],
      dtype=int64)

In [46]:
from sklearn.metrics import confusion_matrix
confusion_matrix(rfc.predict(train_feat),train_targ)

array([[165,   0],
       [  0,  75]], dtype=int64)

svc

In [47]:
import warnings
with warnings.catch_warnings():
    warnings.simplefilter('ignore')
    svc.fit(train_feat,train_targ)

In [48]:
svc.score(train_feat,train_targ)

0.7

In [49]:
svc.score(test_feat,test_targ)

0.55